@import url('https://fonts.googleapis.com/css2?family=Gudea:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gudea:wght@700&display=swap');

* { 

    padding: 0; 
    margin: 0 auto; 
    font-family: "Gudea"; 
    box-sizing: border-box;
}

body{ 

    background: #36D1DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.principal-div { 

text-align: center;
color:whitesmoke;
width: 400px;
height: 500px;
}

.email { 

    width: 310px;
    height: 35px;
    border-radius: 5px; 
    border:none;
    box-shadow: -1px 10px 2px -4px rgba(0,0,0,0.23); 
    
}

.senha { 
    width: 310px;
    height: 35px;
    border: none;
    border-radius: 5px;
    box-shadow: -1px 10px 2px -4px rgba(0,0,0,0.23);
   
} 
  


.title-sign-in { 

    text-align: center;
    font-size: 25px;
    color:whitesmoke;
    margin-top: 180px;

    
}

.title-email { 

    padding-top: 15px; 
    padding-bottom: 6px;
    font-size: 15px; 
    margin-left: -269px;
    
}


.title-senha { 

    padding-top: 15px; 
    font-size: 15px; 
    margin-left: -249px;
    padding-bottom: 6px ;
}


.btnlogin { 

    background-color: whitesmoke;
    width: 200px;
    height: 40px;
    border: none; 
    border-radius: 50px;
    box-shadow: -1px 10px 2px -4px rgba(0,0,0,0.23);
}
.btnlogin:hover { 
    width: 210px;
    height: 45px;

}

.checkbox { 

    margin-left: -290px;
    cursor: pointer;

}


.txtcheckbox { 

    margin-right:156px;
    margin-top: -23px;;
    font-size: 5px;
    
}

.txtor { 

    margin-top: 30px;
    font-size: 18px;
    margin-bottom: 40px;

}


.iconGoogle { 

    width: 24px;
    height: 24px;
    margin-right: 2px;
    border-radius: 50%;
    margin-top: 8px;
}

.faceIcon { 

    width: 30px;
    height: 30px;
    border-radius: 50%;
   
    margin-top: 4px;
   
}

.icons { 

    margin-left: -6px;
}

.div-icon-google  { 


    background-color: whitesmoke;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 150px;
    margin-top: 43px;
    box-shadow:  3px 2px 0px 1px rgba(0,0,0,0.23);
}

.div-icon-google:hover { 

    opacity: 50%;
    

}
.div-icon-facebook { 

    background-color: whitesmoke;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 147px;;
    margin-top: -40px;
    box-shadow:  3px 2px 0px 1px rgba(0,0,0,0.23);;
}

.div-icon-facebook:hover { 

    opacity: 50%;
}


input,
textarea {
    padding: 10px;
    width: 70%;
}

::-moz-placeholder {
   color: black;  
   font: 12px verdana, arial, sans-serif;
   opacity: 50%;
}

.remembertxt { 

font-size: 14px;
margin-top: -21px;
margin-left: -169px;
}


.criarConta { 

    margin-top: 40px;
    font-size: 15px; 
}


.criarConta:hover { 

    font-size: 18px;
    cursor: pointer;
}

.logo { 
  
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -100px;
}